<div class="signin-content">
  <mat-card>
    <mat-card-content >
      <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
      <p>Signup to continue</p>
      <mat-form-field  class="full-width">
        <input matInput type="text" placeholder="User name"  [formControl]="signupForm.get('username')" >
      </mat-form-field>

      <div fxLayout="column">
        <div fxLayout="row" *ngFor="let control of getControls(signupForm, 'emails') as controls; index as i; first as f " >
          <mat-form-field class="full-width" fxFlex="90">
            <input matInput type="text" placeholder="email"  [formControl]="control">
          </mat-form-field>
          <div fxFlex="10" fxLayout="row">
            <mat-icon (click)="addEmail()" *ngIf="f">add</mat-icon>
            <mat-icon (click)="removeEmail(i)" *ngIf="controls.length > 1">delete</mat-icon>
          </div>
        </div>
      </div>
      <div class="male_control">
        <span>Male</span>
        <app-switcher formControlName="male" ></app-switcher>
      </div>
      <div formGroupName="password"  appEqualValidator >
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="password"  formControlName="password" >
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="confirm password" formControlName="cpassword" >
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary"  type="submit"> Signup</button>
      <a mat-button [routerLink]="['/login']" > Login</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>
